#noticiaCuerpo{
    margin-left: auto;
    margin-right: auto;
    padding-left: 9.3%;
    padding-right: 9.3%;
    width: 100%;
}

#titulo{
    text-align: center;
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cuerpo{
    text-align: left;
    font-family: 'Lucida Sans';
    font-size: 20px;
    line-height: 135%;
}